superuserDetails.txt
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc 

#databse
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.db
db.sqlite3
media/
*.sqlite3

# Secrets
.env

# Virtual environment
venv/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code / PyCharm
.vscode/

src/staticfiles
src/oralsmart/__pycache__

src/pages/__pycache__
src/patient/__pycache__
src/products/__pycache__
src/userauth/__pycache__
src/userprofile/__pycache__

venv/
src/db.sqlite3
src/oralsmart/__pycache__/__init__.cpython-311.pyc
src/oralsmart/__pycache__/settings.cpython-311.pyc
src/oralsmart/__pycache__/urls.cpython-311.pyc
src/patient/__pycache__/models.cpython-311.pyc
